<!DOCTYPE html>
<html ng-app="TimeWaste">
<head>
    <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.css"/>
    <link rel="stylesheet" href="app/css/main.css"/>
</head>
<nav class="navbar navbar-default navbar-fixed-top" ng-controller="NavigationController as navCtrl">
    <div class="container">
        <div ng-show="!navCtrl.loggedIn">
            <input type="text" ng-model="navCtrl.login.email">
            <input type="password" ng-model="navCtrl.login.password">
            <button ng-click="navCtrl.logUserIn()">Login</button> <a ui-sref="signUp">Create an Account</a>
        </div>
        <div ng-show="navCtrl.loggedIn">
            <a ui-sref="editProfile">Edit Profile</a>
        </div>
    </div>
</nav>
<body>
<div ui-view>

</div>
</body>

<!-- Libraries -->
<script src="node_modules/angular/angular.min.js"></script>
<script src="node_modules/angular-ui-router/release/angular-ui-router.min.js"></script>
<script src="node_modules/ng-file-upload/dist/ng-file-upload.js"></script>
<script src="node_modules/ng-file-upload/dist/ng-file-upload-all.js"></script>
<script src="node_modules/ng-file-upload/dist/ng-file-upload-shim.js"></script>

<!-- Application -->
<script src="app/app.js"></script>
<script src="app/signup/sign-up-controller.js"></script>
<script src="app/navigation/navigation-controller.js"></script>
<script src="app/profile/edit-profile-controller.js"></script>
</html>