<div class="col-sm-8 col-sm-offset-2">
    <div class="row">
        <button ngf-select ng-model="file" name="file" ngf-pattern="'image/*'" accept="image/*">Select</button>
    </div>

    <div class="row">
        <input class="form-control" ng-model="user.username">
    </div>

    <div class="row">
        <textarea class="form-control" ng-model="user.bio"></textarea>
    </div>
</div>