<div class="row">
    <div class="col-sm-6 col-sm-offset-3">
        <div class="row">
            <strong>Email Address: </strong>
            <input type="text" ng-model="signUp.newUser.email" class="form-control">
        </div>
        <div class="row">
            <strong>Password: </strong>
            <input type="password" ng-model="signUp.newUser.password" class="form-control">
        </div>
        <button ng-click="signUp.createUser()">Submit</button>
    </div>
</div>